<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "author", content = "Dillon Smith">
        <meta name = "viewport", content = "width = device-width, initial-scale = 1.0">
        <title>
            Contact Me
        </title>
    </head>


    <body>
        <header>
            <nav>
                <ul>
                    <li><a href = "../../index.html">Home</a></li>
                    <li><a href = "aboutPage.html">About Me</a></li>
                    <li><a href = "portfolioPage.html">Portfolio</a></li>
                </ul>
            </nav>
            <h1>Greetings, here is where you can get into contact with me. Below is a form to fill out about any inquiries you may have, or you can shoot me an email or message on any of my socials.</h1>
        </header>
    </body>

    <footer>
        <a href = "">Twitter</a>
        <a href = "">GitHub</a>
        <a href = "">LinkedIn</a>
        <a href = "">Email</a>
    </footer>
</html>