<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "author", content = "Dillon Smith">
        <meta name = "viewport", content = "width = device-width, initial-scale = 1.0">
        <!--<link rel = "stylesheet" href = "main.css">-->
        <title>
            Portfolio Projects
        </title>
    </head>


    <body>
        <header>
            <nav>
                <ul>
                    <li><a href = "../../index.html">Home</a></li>
                    <li><a href = "aboutPage.html">About Me</a></li>
                    <li><a href = "contactPage.html">Contact Me</a></li>
                </ul>
            </nav>
            <h1>Greetings, here is an outline of all of my projects, ranging from backend in Java and Python, to frontend web projects using HTML, CSS, and JS. 
                My GitHub account is linked here as well, head there for more information on a specific  project. </h1>
        </header>
    </body>

    <footer>
        <a href = "">Instagram</a>
        <a href = "">Twitter</a>
        <a href = "">LinkedIn</a>
        <a href = "">Email</a>
    </footer>
</html>